*{margin:0;padding:0;}
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color:#8c8c8c;
  overflow-x: hidden;
}
.header{
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: rgba(255,255,255,.4);
}
h1, h2, h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    margin: .8em 0 .2em 0;
}

.menu{
    display:table;

}
.menu li{
   padding-left: 3em;
   padding-right: 6em;
    display:table-cell;
    vertical-align:middle;
}
.header a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;

}
.header.active {

  background:#fff
}
.header.active a{
  color:#777;
}
.anchor {
   position: relative;
   top: -5.1em;
   visibility:hidden;
}

.content{
    margin: 1em 2em;
}
.content ul, .content ol{
    margin: .8em 1em .8em 2em;
}
span.code{
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #999;
}
.gist{
    margin: 1em 1em 2em 2em;
}
ol .gist{
    margin: 1em 0 2em 0;
}
a{
    color:#8c8c8c;
}
.num2{
    width: 85%;
    margin: 2em auto;
}
footer{
    color: #8c8c8c
    font-size: .8em;
    font-style: italic;
    text-align: center;
    background: rgba(255,255,255,1);
    padding: 1.5em 0 .5em 0;
    margin-top: 5em;
}
footer span{
    font-size: 1.3em;
    color: #8c8c8c;
}

.mgmtimg figure{
  display: inline-block;
  padding: 5em;
}
.contactus span{
  display: inline-block;
  padding: 3em;
}
.contactus span p{
  padding: 0.5em;
}

@media screen and (max-width: 830px){
    h1{
     font-size: 1.3em;
    }
    .desc{
        display: none;
    }
}

@media screen and (max-width: 400px){
    h1{
     font-size: 1.1em;
    }
    header span{
        display: none;
    }
    .gist{
        width: 100%;
    }
}
